<div class="address-form">
  <p>Address Works!</p>
  <form (ngSubmit)="validateAddress()"  #address="ngForm">
    <div>
      <label for="country">Country</label>
      <input
        type="text"
        name="country"
        id="country"
        [(ngModel)]="country"
        required
        #countryInput="ngModel"
      />
      <div *ngIf="countryInput.invalid && countryInput.touched" class="error">
        Country is required.
      </div>
    </div>
    
    <div>
      <label for="state">State</label>
      <input
        type="text"
        name="state"
        id="state"
        [(ngModel)]="state"
        required
        #stateInput="ngModel"
      />
      <div *ngIf="stateInput.invalid && stateInput.touched" class="error">
        State is required.
      </div>
    </div>
    
    <div>
      <label for="city">City</label>
      <input
        type="text"
        name="city"
        id="city"
        [(ngModel)]="city"
        required
        #cityInput="ngModel"
      />
      <div *ngIf="cityInput.invalid && cityInput.touched" class="error">
        City is required.
      </div>
    </div>

    <input
      type="text"
      name="inputSearch"
      [(ngModel)]="inputSearch"
      id="inputSearch"
      (input)="handleInputChange()"
      placeholder="Enter address..."
    />
    <div class="searchComplete" *ngIf="autoComplete.length > 0">
      <ng-container *ngFor="let address of autoComplete">
        <p class="place" (click)="selectAddress(address)">{{ address.description }}</p>
      </ng-container>
    </div>


  </form>
</div>
