.Main__Family {
    overflow-y: scroll;
    height: var(--scroll-height);
  }
  
  .add {
    width: var(--button-width);
    height: var(--button-height);
    border-radius: var(--button-border-radius);
    background-color: var(--add-button-bg);
    color: white;
    border: none;
    margin: var(--margin-small) var(--margin-small) var(--margin-medium) var(--margin-small);
  }
  
  .remove {
    width: var(--button-width);
    height: var(--button-height);
    border-radius: var(--button-border-radius);
    background-color: var(--remove-button-bg);
    color: white;
    border: none;
    margin: var(--margin-small) var(--margin-small) var(--margin-medium) var(--margin-small);
  }

  .relation {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }

  .relation label{
    font-size: 17px;
  }

  .relation__input{
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
  
  input.ng-invalid.ng-touched {
    border: 2px solid var(--error-color);
  }
  
  small, .error {
    font-size: var(--font-size-small);
    color: var(--error-color);
  }
  
  .input_inline_error {
    display: flex;
    flex-direction: column;
  }
  