<app-common></app-common>
<div class="basic">
    <form (ngSubmit)="handleBasicForm()"   #basicForm="ngForm">    
        <div class="input_inline_single">
            <p>Email :</p>

            <div  class="input_inline_error">
                <input type="email" name="Email" id="Email" placeholder="Enter Email" [(ngModel)]="Email" #emailAddress="ngModel" required pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])" >
                <small *ngIf = "emailAddress?.touched && emailAddress?.invalid" >* Email is Required</small>
                <small *ngIf = "emailAddress?.errors?.['pattern']" >Invalid Email</small>
            </div>
        </div>

        
        <div class="input_inline_single">
            
            <p>Website :</p>
            <div  class="input_inline_error">
                <input type="text" name="Website" id="Website" placeholder="Enter Website url" [(ngModel)]="Website" #website="ngModel"  required pattern="(https?:\/\/)?([\w\d-_]+)\.([\w\d-_\.]+)\/?\??([^#\n\r]*)?#?([^\n\r]*)">
                <small *ngIf = "website?.touched && website?.invalid" >* Website is Required</small>
                <small *ngIf = "website?.errors?.['pattern']" >Invalid Website</small>

            </div>
        </div>

    
    </form>
    
</div>